@media screen and (max-width:480px){

	/*Titulo do Site*/
	.header hgroup{ padding:20px 0; }
	.header hgroup h1{ font-size: 36px; }
	.header hgroup h2{ font-size: 18px; }
	
	.painel { top:70px; }
	a.trigger{ top:70px; } 
	a.trigger:hover { top:70px; } 
	.links{ width: 100%; } 
	.links a{width: 80%; } 
	.links a img{ width:32px; }
	.navbar li{ text-align: center; } 
	.bus-prefix img{
		margin: 18px 10px 0 0;
		width: 32px;
		float: left;
	}
	.bus-prefix h1{
		font-size: 30px;
		float:left;
	}
	.bus-content{clear:both;}
	.bus-content h3{font-size: 18px;text-align: center;}
	.bus-content p{font-size: 16px;text-align: center;}
	.section-geral p{ font-size: 20px; }
	.band{display: none;}
}